@font-face{
    font-family: 'MyFont';   
    src: url('fonts/Helvetica CE Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: MyFont;
    margin: 0;
    padding: 0;
}

.h_wrapper{
    background-image: linear-gradient(0deg, #e0e0e0, #ffffff);
}

header{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

.menu{
    display: flex;
}

.wrapper{
    max-width: 1024px;
    margin: auto;
    text-align: center;
    
}

.select{
    font-size: 28px;
    font-weight: bold;
}

.button{
    width: 107px;
    height: 117px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: MyFont;
    color: #545454;
    text-shadow: 1px 1px 2px white;
}

.button img{
    margin: auto;
    margin-bottom: 7px;
}

.active, .button:hover{
    background-image: linear-gradient(180deg, #fff, #c9c0c0 95%, #ff7d00 95%);
    border-bottom-color: #cc6400;
}

.button p{
    margin-top: 7px;
    margin-bottom: 27px;
}

#gallery, #members{
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.logo{
    font-family: 'Lobster', cursive;
    color: #676666;
    font-size: 49px;
    margin: auto 0;
    margin-left: 30px;
}

.logo span{
    color: #ff7700;
}

.menu a{
    text-decoration: none;
}

.upload{
    display: flex;
    justify-content: center;
}

.upload form button{
    position: absolute;
    bottom: 8px;
    right: 13px;
    height: 33px;
    width: 93px;
    border-radius: 5px;
    color: white;
    background-color: #c1bfbf;
    border: none;
}

.upload form{
    position: relative;
    margin: auto 0;
}

.upbutton{
    margin: 15px;
    height: 47px;
    width: 209px;
    color: white;
    background-image: linear-gradient(0deg, #ff6600, #ffa400);
    border: none;
    border-radius: 3px;
    font-family: MyFont;
    font-size: 24px;
}

.upload input{
    height: 46px;
    width: 447px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background-image: linear-gradient(180deg, #e0e0e0 0%, #ffffff 20%);
}

.upload input::-webkit-input-placeholder{
    color:transparent;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo{

    border: 1px solid #d6d6d6;
    /* overflow: hidden; */
    margin: 18px;
    padding: 7px;
    box-shadow: 2px 2px 2px #eaeaea, -2px -2px 2px #eaeaea;
    position: relative;
    background-image: linear-gradient(0deg, #e0e0e0 0%, #ffffff 5% )
}

.photo img{
    padding: 0;
}

.zoom{
    position: absolute;
    top: 35%;
    left: 45%;
    visibility: hidden;
    opacity: 0;
}

.photo:hover .zoom{
    visibility: visible;
    opacity: 1;
}

.info{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e0dfdf;
    padding-bottom: 6px;
}

.photo .info p{
    font-size: 15px;
    margin: 1px 0 0 0;
    color: #979393;
}

.photo .info img{
    width: 22px;
    height: 22px;
    margin: 0;
}

.share{
    display: flex;
    justify-content: flex-end;
}

.share p{
    color: #9f9898;
    font-size: 14px;
    margin: 7px;
}

.twitter, .facebook, .pinterset, .tumblr{
    background-color: #b1aeae;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin: 5px 2px 10px 2px;
    cursor: pointer;
    position: relative;
}

.twitter img, .facebook img, .pinterset img, .tumblr img{
    margin: 5px;
    background: transparent;
}


 .twitter img{
    width: 9px;
    height: 13px;
}
/*
.facebook img{
    width: 8px;
    height: 15px;
    margin-top: 3px;
} */

.twitter:hover, .facebook:hover, .pinterset:hover, .tumblr:hover{
    background-color: #283e8f;
}
.twitter img:hover, .facebook img:hover, .pinterset img:hover, .tumblr img:hover{
    background-color: #283e8f;
}

/* tooltip code */

.share .popup{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    font-size: 13px;
    margin: 0;
    padding: 0;
    z-index: 500;
}

.popup:before, .popup:after{
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  /* cloud */
  .popup:before{
    content: attr(data-tooltip);
    width: 124px;
    height: 17px;
    line-height: 17px;
    background: black;
    border-radius: 2px;
    bottom: -15px;
    left: calc(50% - 25px);
  }

  /* arrow */
  .popup:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
    bottom: -2px;
    left: calc(50% - 10px);
  }
  .popup:hover:before, .popup:hover:after {
    opacity: 1;
    visibility: visible;
  }
  /* end tooltip code */

  @media screen and (max-width: 700px){
      .upload{
          display: inline-block;
          margin: 0 15px;
          width: 100%;
      }

      .wrapper{
        padding: 0 10px;
      }

      .upload form{
       
        margin: 0 15px;
      }

      .upload input{
        width: 100%;
      }
  }